NEXT_PUBLIC_APP_URL=http://localhost:3000
N8N_WEBHOOK_URL=http://localhost:5678/webhook/agent-cadrage-projet
OPENAI_API_KEY=your_openai_api_key_here
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
REFERENT_EMAIL=
